<nav class="header-custom navbar-fixed-top shadow-lg-custom">
    <div class="toggler-section-custom">
        <button class="menu-toggler-custom" type="button" id="menu_toggler" aria-expanded="false" click="toggleMenu()">
            <span class="fas fa-bars"></span>
        </button>
        <div class="current-page-i-wrapper">
            <i id='current-page-icon' ng-class='current_page_icon'></i>
        </div>
    </div>
    <span ng-include="'partials/navbar.html'"></span>
    <span class='header-text-custom' style="text-align: center; display:block">API Testing With ML</span>
</nav>