<!-- progress bar section -->
<div class="progress" ng-if="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
        aria-valuemax="100" ng-style="{'width':progress +'%'}">
        {{progress}}% Complete (success)
    </div>
</div>
<!-- end of progress bar section -->

<div class="container">
    <!-- upload train file sectiom -->
    <form>
        <div class="file-field">
            <input type="file" class="file" id="trainFile" name="trainFile" style="display: none;" onchange="updateFilePathField(this, 'train_file_path')"/>
            <input type="button" class="btn btn-blue shadow-custom" onclick="openFileDialog('trainFile')" value="Choose File"/>
        </div> 
        <div class="file-path-wrapper">
            <input id='train_file_path' class="file-path validate input-custom" type="text" placeholder="Upload train file">
            <button class="btn-floating btn-blue" ng-click="uploadFile('trainFile')"><i class='fas fa-upload'></i></button>
        </div>      
    </form>
    <!-- end of upload train file sectiom -->
    <!-- train file selection section -->
    <div class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="selectTrainFile">Select Train File</label>
            <select class='form-control' ng-model='selectedTrainFileName' id='selectTrainFile'>
                <option value=''>Select File</option>
                <option ng-repeat="fileName in trainFileNames" value="{{fileName}}" ng-bind="fileName"></option>
            </select>
            <label for="hasHeaders">
                <input ng-disabled="!selectedTrainFileName" type="checkbox" class='checkbox' ng-model='hasHeaders' id='hasHeaders' >
                Has Headers
            </label>
            <button ng-if='hasHeaders' type="button" class="btn btn-blue shadow-custom" ng-click="loadHeaders(selectedTrainFileName)">Load Headers
                    <span ng-if="headersLoading" class="analyze-spinner" style="display:inline-block;margin-left: 5px;"></span>
            </button>
        </div>
    </div>
    <!-- end of train file selection -->
    <div id='param_section' class="shadow-lg-custom">
        <table class='mt-20-custom'>
            <thead><tr class = "Trebuchet-font">
                <th data-ng-repeat='tableHeader in tableHeaders' class='col-xs-2' data-ng-bind='tableHeader.name'></th>
            </tr></thead>
            <tbody></tbody>
        </table>
        <!-- End of paramaterization table header section -->
        <div class='tableContainer'>
            <table id='configTable'>
                <tr ng-repeat='fieldName in trainFileHeaderArr track by $index'>
                    <td class='col-xs-2'><div ng-bind='fieldName' contenteditable='true'></div></td>
                    <td class='col-xs-2'><input type='text' /></td>
                    <td class='col-xs-2'><input type='text' /></td>
                    <td class='col-xs-2'><input type='text' ></td>
                    <td class='col-xs-2'><label class='label-for-checkox'><input type='checkbox' ng-model="reqModel" ng-disabled="resModel == true" name="req_checkbox"/></label></td>
                    <td class='col-xs-2'><label class='label-for-checkox'><input type='checkbox' ng-model="resModel" ng-disabled="reqModel == true" name="res_checkbox"/></label></td>
                </tr>
            </table>
        </div>
    </div>    
    <!-- End of paramaterization table body section -->
    <div class="file-field">
        <input type="file" class="file" id="testFile" style="display: none;" onchange="updateFilePathField(this, 'test_file_path')"/>
        <input type="button" class="btn btn-blue shadow-custom" onclick="openFileDialog('testFile')" value="Choose File" />
    </div>
    <div class="file-path-wrapper">
        <input id='test_file_path' class="file-path validate input-custom" type="text" placeholder="Upload test file">
        <button class="btn-floating btn-blue" ng-click="uploadFile('testFile')">
            <i class='fas fa-upload'></i>
        </button>
    </div>
    <!-- test file selection  -->
    <div class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="selectTestFile">Select Test File</label>
            <select class='form-control' ng-model='selectedTestFileName' id='selectTestFile'>
                <option value=''>Select File</option>
                <option ng-repeat="fileName in testFileNames" ng-value="fileName" ng-bind="fileName"></option>
            </select>
            <select class='form-control' ng-model='selectedAlgorithm' id='selectAlgorithm'>
                <option value=''>Select Algorithm</option>
                <option ng-repeat="algorithmName in algoNames" ng-value="algorithmName" ng-bind="algorithmName"></option>
            </select>
            <button class='btn btn-blue shadow-custom' ng-click="analyze(selectedTrainFileName,selectedTestFileName)">Analyze <span ng-if="analyzing" class="analyze-spinner" style="display:inline-block;margin-left: 5px;"></span></button> 
        </div>
    </div>
    <!-- end of test file selection -->
    <!-- result section -->
    <table class="mt-20-custom shadow-lg-custom">
        <thead>
            <tr>
            <th scope="col" ng-repeat = "item in finalOutputHeader" ng-bind=item></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "row in finalOutputBody">
            <td ng-repeat="col in row track by $index" ng-bind="col"></td>
            </tr>
        </tbody>
    </table>
    <!-- end of result table -->
</div>
