<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Test Section</h3>
    </div>

    <div class="panel-body">
        <!-- file upload section -->
        <div class="file-field">
            <input type="file" class="file" id="testFile" style="display: none;" onchange="updateFilePathField(this, 'test_file_path')"
            />
            <input type="button" class="btn btn-blue shadow-custom" onclick="openFileDialog('testFile')" value="Choose File" />
        </div>
        <div class="file-path-wrapper">
            <input id='test_file_path' class="file-path validate input-custom" type="text" placeholder="Upload test file">
            <button class="btn-floating btn-blue" ng-click="uploadFile('testFile')">
                <i class='fas fa-upload'></i>
            </button>
        </div>

        <!-- below script contains the definitions for updateFilePathField() and openFileDialog() -->
        <script src="../js/utilities/filedialog.js"></script>
        <!-- end of file upload section -->
        
        <!-- file selection and analyze section -->
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="selectTestFile">Select Test File</label>
                <select class='form-control' ng-model='selectedTestFileName' id='selectTestFile'>
                    <option value=''>Select File</option>
                    <option ng-repeat="fileName in testFileNames" ng-value="fileName" ng-bind="fileName"></option>
                </select>
                <select class='form-control' ng-model='selectedAlgorithm' id='selectAlgorithm'>
                    <option value=''>Select Algorithm</option>
                    <option ng-repeat="algorithmName in ['algo1', 'algo2']" ng-value="algorithmName" ng-bind="algorithmName"></option>
                </select>
                <input type="button" class='btn btn-blue shadow-custom' ng-click="analyze(selectedTrainFileName,selectedTestFileName)" value="Analyze" />
            </div>
        </div>
        <!-- end of file selection -->
        <!-- result section -->
        <table class="mt-10-custom shadow-lg-custom">
            <thead>
              <tr>
                <th scope="col" ng-repeat = "item in finalOutputHeader" ng-bind=item></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "row in finalOutputBody">
                <td ng-repeat="col in row track by $index" ng-bind="col"></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>