<div class = "panel panel-primary">
    <div class = "panel-heading">
       <h3 class = "panel-title">Train Section</h3>
    </div>
    
    <div class = "panel-body">
        <form>
            <div class="file-field">
                <input type="file" class="file" id="trainFile" name="trainFile" style="display: none;" onchange="updateFilePathField(this, 'train_file_path')"/>
                <input type="button" class="btn btn-blue shadow-custom" onclick="openFileDialog('trainFile')" value="Choose File"/>
            </div> 
            <div class="file-path-wrapper">
                <input id='train_file_path' class="file-path validate input-custom" type="text" placeholder="Upload train file">
                <button class="btn-floating btn-blue" ng-click="uploadFile('trainFile')"><i class='fas fa-upload'></i></button>
                
            </div>      
        </form>
        <!-- below script contains the definitions for updateFilePathField() and openFileDialog() -->
        <script src="../js/utilities/filedialog.js"></script>
        <!-- end of upload section -->
        <!-- file selection section -->
        <div class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="selectTrainFile">Select Train File</label>
            <select class='form-control' ng-model='selectedTrainFileName' id='selectTrainFile'>
                <option value=''>Select File</option>
                <option ng-repeat="fileName in trainFileNames" value="{{fileName}}" ng-bind="fileName"></option>
            </select>
            <span ng-if='selectedTrainFileName' for='selectTrainFile'>File Selected:&nbsp;&nbsp;<span style="color:green" ng-bind="selectedTrainFileName"></span></span>
          </div>
        </div>
        <!-- end of file selection -->
        <!-- parameter configuration section -->
        <div class="aqua-gradient shadow-lg-custom mt-10-custom" style="color: whitesmoke">
            <span>Configure Parameters For Machine Learning Alogorithm</span>
        </div>
    </div><!--  end of panel body -->
 </div>

