<div class = "panel panel-primary">
    <div class = "panel-heading">
       <h3 class = "panel-title">Train Section</h3>
    </div>
    
    <div class = "panel-body">
        <form class="md-form">
            <div class="file-field">
                <input type="file" class="file" id="trainFile" style="display: none;" onchange="updateFilePathField(this, 'train_file_path')"/>
                <input type="button" class="btn btn-blue shadow-custom" onclick="openFileDialog('trainFile')" value="Choose File"/>
            </div> 
            <div class="file-path-wrapper">
                <input id='train_file_path' class="file-path validate input-custom" type="text" placeholder="Upload train file">
                <button class="btn-floating btn-blue" ng-click="uploadFile('trainFile')"><i class='fas fa-upload'></i></button>
                
            </div>      
        </form>
        <!-- below script contains the definitions for updateFilePathField() and openFileDialog() -->
        <script src="../js/utilities/filedialog.js"></script>
    </div>
 </div>

