<div class = "panel panel-primary">
    <div class = "panel-heading">
       <h3 class = "panel-title">Train Section</h3>
    </div>
    
    <div class = "panel-body">
        <form>
            <div class="file-field">
                <input type="file" class="file" id="trainFile" name="trainFile" style="display: none;" onchange="updateFilePathField(this, 'train_file_path')"/>
                <input type="button" class="btn btn-blue shadow-custom" onclick="openFileDialog('trainFile')" value="Choose File"/>
            </div> 
            <div class="file-path-wrapper">
                <input id='train_file_path' class="file-path validate input-custom" type="text" placeholder="Upload train file">
                <button class="btn-floating btn-blue" ng-click="uploadFile('trainFile')"><i class='fas fa-upload'></i></button>
                
            </div>      
        </form>
        <!-- below script contains the definitions for updateFilePathField() and openFileDialog() -->
        <script src="../js/utilities/filedialog.js"></script>
        <!-- end of upload section -->
        <!-- file selection section -->
        <div class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="selectTrainFile">Select Train File</label>
            <select class='form-control' ng-model='selectedTrainFileName' id='selectTrainFile' ng-change="updateCurrentTrainFile(this)">
                <option value=''>Select File</option>
                <option ng-repeat="fileName in trainFileNames" value="{{fileName}}" ng-bind="fileName"></option>
            </select>
            <label for="hasHeaders">
                <input ng-disabled="!selectedTrainFileName" type="checkbox" class='checkbox' ng-model='hasHeaders' id='hasHeaders' >
                Has Headers
            </label>
            <input ng-if='hasHeaders' type="button" class="btn btn-blue shadow-custom" ng-click="loadHeaders(selectedTrainFileName)" value="Load Headers"/>
          </div>
        </div>
        <!-- end of file selection -->
        <!-- parameter configuration section -->
        <div class="form-inline grey-gradient shadow-lg-custom mt-10-custom pd-16-12-custom" style="color: whitesmoke">
            <div>Configure Parameters For Machine Learning Alogorithm</div>
            <div class="form-group">
                <label for="predictors">Predictors</label>
                <input class="form-control" type="text-area" ng-model="predictorsCsv"/>
            </div>
            <div class="form-group">
                <label for="predictors">Response</label>
                <input class="form-control" type="text-area" ng-model="responseCsv"/>
            </div>

        </div>
    </div><!--  end of panel body -->
 </div>

